[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "==2.4.1"
lxml = "==4.9.4"
flask = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
